@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");



body {
  overflow-x: hidden;
  overflow-y: hidden;
background-color: rgb(127 153 102);
  color: rgb(43 26 26);
}

#pomodoro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-width: 500px;
  margin: 0 auto;
  padding: 1.1rem;
  box-sizing: border-box;
}

#interval-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#timer-container {
  margin-top: 0.125rem;
}

#start-stop-reset-container {
  margin-top: 0.125rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#time-left {
  font-family: "Karla", sans-serif;
  font-size: 10.375rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 1rem;
  letter-spacing: -5px;
}

.interval-btn,
#start-stop-btn,
#reset-btn {
  border-radius: 50px;
  border: 2px solid rgb(43 26 26);
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  margin: 0.313rem;
  padding: 0.5rem 0.75rem;
  text-align: center;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.interval-btn:hover,
#start-stop-btn:hover,
#reset-btn:hover {
  background-color: black;
  color: white;
  border-color: black;
  cursor: pointer;
}


select {
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  // Additional resets for further consistency
  background-color: green;
  border: none;
  padding: 0 1em 0 0;
  margin: 10px;
  width: 60%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}
